html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
@font-face {
  font-family: "Samim";
  src: url("../public/fonts/Samim.woff") format("woff");
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "Samim" !important;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
.border-hover {
  outline: 2px solid white;
}
.border-hover :hover {
  outline: 2px solid red;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}
ul {
  background-color: #ffffff !important;
  border-radius: 10px !important;
  border: 2px solid white !important;
}
ul li:hover {
  background-color: #fd9500 !important;
  border-radius: 10px !important;
  border: 2px solid white !important;
}

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #000;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #000;
  opacity: 1;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #000;
  opacity: 1;
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #000;
}
::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #000;
}

::placeholder {
  /* Most modern browsers support this now. */
  color: #000;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.so-svg-class {
  fill: white !important;
  width: 23px !important;
  height: 23px !important;
}
.so-svg-class:hover {
  fill: #fd9500 !important;
}

input:focus {
  outline: none !important;
  box-shadow: 0 0 10px #e59422;
}
.svg-hover {
  fill: white;
}
.svg-hover:hover {
  fill: #e59422;
}
textarea :focus {
  border-width: 1px !important;
}
textarea :active {
  border-width: 1px !important;
}
textarea:focus {
  outline: none !important;
  box-shadow: 0 0 10px #e59422;
}
.orange-hover {
  background-color: rgba(158, 158, 158, 1);
}
.orange-hover svg {
  background-color: rgba(158, 158, 158, 1);
}
.orange-hover:hover {
  background-color: #fd9500;
}
.orange-hover:hover svg {
  fill: #fd9500 !important;
}
.outline-hover-force {
  outline: 2px solid #fd9500;
}
.outline-hover-force {
  outline: 2px solid #fd9500;
}
.outline-hover-force svg {
  fill: #fd9500;
}
.outline-hover-force p {
  color: #fd9500;
}

.outline-hover {
  outline: 2px solid #fff;
}
.outline-hover:hover {
  outline: 2px solid #fd9500;
}
.outline-hover:hover svg {
  fill: #fd9500;
}
.outline-hover svg {
  fill: #fff;
}
.outline-hover:hover p {
  color: #fd9500;
}
.outline-hover p {
  color: #fff;
}
.fill-outline-hover {
  outline: 2px solid #fff;
}
.fill-outline-hover:hover {
  outline: 2px solid #fd9500;
  background-color: #fd9500;
}
.fill-outline-hover:hover svg {
  fill: white;
}
.fill-outline-hover svg {
  fill: #fff;
}
.fill-outline-hover:hover p {
  color: white;
}
.fill-outline-hover p {
  color: #fff;
}
textarea {
  resize: none !important;
}
.sdcsdc:active {
  border: 1px solid white !important;
}
.joyrtl-1wmuzea-JoySelect-listbox {
  background-color: red;
}
.search-input {
  background-color: transparent !important;
  border: 3px solid #fd9500 !important;
  width: 350px;
  border-radius: 40px !important;
  padding: 5px 20px;
  font-weight: bold;
  color: white !important;
}
.search-input::placeholder {
  color: white !important;
}
.white-input {
  color: white !important;
}
.white-input::placeholder {
  color: white !important;
}
.orange-hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 3px solid #fd9500;
  margin: 1em 0;
  padding: 0;
}
.white-btn-class {
  color: white !important;
}
